body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("/img/img3.jpg"); /* Ruta a tu imagen de fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Inter", sans-serif; /* Asegúrate de tener la fuente Inter cargada */
  color: #fff; /* Texto blanco */
  background-color: #000; /* Fondo negro */
  display: flex; /* Usa un contenedor flexible para centrar el contenido */
  align-items: flex-start; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  min-height: 100vh;
  position: relative;
  /* Ocupa el 100% de la altura de la pantalla */
}

h1 {
  text-align: center; /* Alinea el texto en el centro */
  align-items: flex-start;
}

.logo {
  position: absolute;
  top: 2px; /* Ajusta la posición vertical según tus necesidades */
  left: 2px; /* Ajusta la posición horizontal según tus necesidades */
  width: 50px; /* Ajusta el ancho según tus necesidades */
  height: auto; /* Ajusta la altura automáticamente según el ancho */
  border-radius: 50%; /* Esto redondeará la imagen */
}

.text-food {
  color: #333; /* Gris oscuro */
  background-color: #f0f0f0; /* Gris claro */
}

.text-title {
  color: #333;
  font-size: 1.7em;
}
